<footer class="site_footer">
  <div class="site_footer-container">
    <div class="site_footer-left site_navigation--item">
      <a href="{{ shop.url }}">
        <img src="{{ 'logo-big.svg' | asset_url }}" alt="Adnan Mansuri Logo">
      </a>
    </div>
    <div class="site_footer-right site_navigation--item">
      <ul class="site_footer-nav">
        <li>
          <a href="#Home" class="has_active--effect">Home</a>
        </li>
        <li>
          <a href="#services" class="has_active--effect">Services</a>
        </li>
        <li>
          <a href="#projects" class="has_active--effect">Projects</a>
        </li>
        <li>
          <a href="#skills" class="has_active--effect">Skills Set</a>
        </li>
      </ul>
    </div>
  </div>
</footer>