<section id="Home" class="site_top--area">
  <div class="site_top--area_inner">
    <h1>{{ section.settings.hero_title }}</h1>
    <p>{{ section.settings.hero_subtitle }}</p>
    <div class="site_cta--outline">
      <a href="{{ section.settings.hero_cta_url }}" class="site_cta--outline__a">
        <span>{{ section.settings.hero_cta_text }}</span>
      </a>
    </div>
  </div>
  <div id="site_ScrollContent_Home" class="slider">
    <div class="wrapper">
      <h3 class="text-item">UI | UX Designer</h3>
      <h3 class="text-item">Web Developer</h3>
      <h3 class="text-item">Graphic Designer</h3>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Hero Section Settings",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Sub Title"
    },
    {
      "type": "text",
      "id": "hero_cta_text",
      "label": "Hero CTA Title",
      "default":"Text Here"
    },
    {
      "type": "url",
      "id": "hero_cta_url",
      "label": "Hero CTA Url",
      "default":"/"
    }
  ]
}


  
{% endschema %}