<section id="Home" class="site_top--area">
  <div class="site_top--area_inner">
    <h1>Hello</h1>
    <p>I am an experienced web developer specializing in graphics design and UI/UX.</p>
    <div class="site_cta--outline">
      <a href="#" class="site_cta--outline__a">
        <span>Download CV</span>
      </a>
    </div>
  </div>
  <div id="site_ScrollContent_Home" class="slider">
    <div class="wrapper">
      <h3 class="text-item">UI | UX Designer</h3>
      <h3 class="text-item">Web Developer</h3>
      <h3 class="text-item">Graphic Designer</h3>
    </div>
  </div>
</section>