<section
  id="projects"
  class="has_scroll--speed__section"
  data-disable-scroll-animation="768">
  <div class="projects_container--main">
    <div class="projects_content">
      <div class="project_title site_title--container">
        <h2 class="site_section--title">Projects</h2>
        <p class="site_section--decs">
          Showcasing a variety of web development projects, from custom websites to dynamic web applications, built to meet diverse client needs.
        </p>
      </div>
      <div class="project_content--items">
        <div class="project_content-item has_scroll--speed__element" data-scroll-speed="3.5">
          <div class="project_img--mian">
            <img
              src="{{ 'Frame_12.png' | asset_url }}"
              alt=""
              class="project_img" />
          </div>
          <div class="project_text--area">
            <div class="project_text--content">
              <div class="project_area--name">
                <h3 class="project_name">Creative Printer</h3>
              </div>
              <div class="project_area--tag">
                <p class="project_tag">Graphics Design Agency</p>
              </div>
            </div>
            <div class="project_link--area">
              <a href="#" class="project_link--arrow">
                <img src="{{ 'arrow.webp' | asset_url }}" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>