<section id="services" class="site_content-container">
  <div class="craft">
    <div class="craft-left">
      <div class="craft_left--sticky--area site_title--container site_title-column">
        <h2 class="site_section--title">SERVICES</h2>
        <p class="site_section--decs">
          Offering custom web development, responsive designs, and user-focused solutions to help businesses establish a strong online presence and achieve their digital goals.
        </p>
      </div>
    </div>
    <div class="craft-right">
      <div class="right-inner">
        <div class="right-box">
          <h3>UI/UX Design</h3>
          <p>
            I design user-friendly interfaces that prioritize simplicity and functionality, ensuring an engaging and seamless experience across all devices.
          </p>
        </div>
        <div class="right-box">
          <h3>Web Development</h3>
          <p>
            I build fast, secure, and responsive websites tailored to your needs, providing scalable solutions that support your business growth.
          </p>
        </div>
        <div class="right-box">
          <h3>Graphic Design</h3>
          <p>
            I create visually striking designs that communicate your brand's message effectively, from logos to marketing materials, ensuring a memorable impression.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>