<section id="services" class="site_content-container">
  <div class="craft">
    <div class="craft-left">
      <div class="craft_left--sticky--area site_title--container site_title-column">
        <h2 class="site_section--title">{{ section.settings.service_section_title }}</h2>
        <p class="site_section--decs">
          {{ section.settings.service_section_subtitle }}
        </p>
      </div>
    </div>
    <div class="craft-right">
      <div class="right-inner">
        {% for block in section.blocks %}
        <div class="right-box">
          <h3>{{ block.settings.service_block_title }}</h3>
          <p>
            {{ block.settings.service_block_subtitle }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>




{% schema %}
{
  "name": "Service Section Settings",
  "settings": [
    {
      "type": "text",
      "id": "service_section_title",
      "label": "Service Section Title"
    },
    {
      "type": "text",
      "id": "service_section_subtitle",
      "label": "Service Section Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "Service_Block_Content",
      "name": "Service Blck Content",
      "settings": [
        {
          "type": "text",
            "id": "service_block_title",
          "label": "Service Block Title"
        },
        {
          "type": "text",
            "id": "service_block_subtitle",
          "label": "Service Block Sub Title"
        }
      ]
      
    }
  ]
  
}

  
{% endschema %}