<section id="skills">
  <div class="skills_title--area site_title--container">
    <h2 class="skills_title site_section--title">Skills Set</h2>
    <p class="skills_decs site_section--decs">
      I leverage a variety of tools and technologies to craft dynamic websites with robust functionality, ensuring optimal performance and user satisfaction for your projects.
    </p>
  </div>
  <div class="skills_icon--area has_scroll--speed__section" data-disable-scroll-animation="768">
    <div class="skills_icon">
      <img
        class="skill has_scroll--speed__element"
        data-scroll-speed="10"
        src="{{ 'html.webp' | asset_url }}"
        alt="Skill Icon Html" />
    </div>
    <div class="skills_icon">
      <img
        class="skill has_scroll--speed__element"
        data-scroll-speed="11"
        src="{{ 'css.webp' | asset_url }}"
        alt="Skill Icon Css" />
    </div>
    <div class="skills_icon">
      <img
        class="skill has_scroll--speed__element"
        data-scroll-speed="12"
        src="{{ 'js.webp' | asset_url }}"
        alt="Skill Icon Javascript" />
    </div>
  </div>
</section>